html, body {
    background: url("../images/coal-clipart-mine-entrance-11.jpg") no-repeat center center fixed;
    background-size: cover;
}

.wrapper {
    font-weight: 900;
    font-family: 'Sniglet', cursive;
    color: #2F22FF;
    text-align: center;
    width: 960px;
    margin: 0 auto;
}

#header {
    margin-top: 20px;
}

#title {
    font-size: 50px;
    background-color: wheat;
}

#main-content {
    background-color: rgb(242, 232, 212);
}

#ins {
    text-align: justify;
}

#crystal-one,
#crystal-two,
#crystal-three,
#crystal-four {
   height: 100px;
   width: 100px;
   margin: 0 auto;
}

#comp-score,
#user-score,
#result-message,
#wins,
#losses {
    margin: 10px auto;
}

#reset-button {
    margin-bottom: 20px;
}

